body {
  min-height: 100vh;
  min-width: 100vw;
}

.table_container {
  margin-top: 20px;
  width: 100vw;
}

.header {
  margin-top: 20px;
}

td {
  white-space: nowrap;
  text-align: center;
}

h3 {
  text-decoration: underline;
  text-decoration-color: #58641d;
  margin-top: 10px;
}

a,
span {
  color: white !important;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #7b904b;
  border-radius: 8px;
  border: 6px solid #fff;
}

.table tr {
  border-bottom: 1px solid #58641d;
}

.functions {
  padding: 0px 0px 0px 0px !important;
}

.filter_title {
  margin-top: 10px;
}

.form-control-md:focus {
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 3px solid #58641d !important;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 1 0 auto;
}

.right {
  display: none;
  flex: 0 0 250px; /* Set a fixed width for the right column */
}

@media screen and (max-width: 580px) {
  .header {
    justify-content: center;
    text-align: center;
  }

  .functions {
    justify-content: center !important;
    flex-direction: column !important;
  }

  .functions a {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1500px) {
  .right {
    order: 1;
  }

  .left {
    order: 2;
  }
}
